@page
@model SignupModel
@{
    ViewData["Title"] = "Testing signup";
}
<h1>@ViewData["Title"]</h1>

@{

    <h2>@Model.test</h2>

}

<form action="/user" method="post">
    <fieldset>
        <legend>Signup</legend>
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" value="">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="text" name="password" value="">
        </div>
        <div>
            <input type="submit">
        </div>
    </fieldset>
</form>
