@page
@model SuccessModel
@{
    if(Model.Type.Equals("user")){
        ViewData["Message"] = "User successfully created.";
    }else {
        ViewData["Message"] = "Account successfully created.";
    }

    ViewData["Title"] = "Testing sucess";
}
<h1>@ViewData["Title"]</h1>

@{

    <h2>@Model.test</h2>

    <h3>@ViewData["Message"]</h3>    

}

