@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




<div class="text-right">
    <h4 class="display-4" id="shadowText">Sign up to get started!</h4>
    <br />

    <div class="polaroid" id="rightBox">
        <img src="../lib/signUp.png" alt="week" style="width:100%">
        <div class="container-one">
            <p><b>Become one of us!</b></p>
        </div>
    </div>

    <div class="polaroid" id="centerRight">
        <img src="../lib/login.png" alt="schedule" style="width:100%">
        <div class="container-one">
            <p><b>Get full access</b></p>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


</div>



<div class="text-left">
    <h4 class="display-4" id="shadowText">Plan your week..</h4>
    <br />

    <div class="polaroid" id="leftBox">
        <img src="../lib/createTask.png" alt="create" style="width:100%">
        <div class="container-one">
            <p><b>When creating a task..</b></p>
        </div>
    </div>

    <div class="polaroid" id="centerBox">
        <img src="../lib/editTask.png" alt="edit" style="width:100%">
        <div class="container-one">
            <p><b>Edit your task? Sure!</b></p>
        </div>
    </div>


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


</div>



<div class="text-right">
    <h4 class="display-4" id="shadowText">View your weekly schedule..</h4>
    <br />

    <div class="polaroid" id="rightBox">
        <img src="../lib/week.png" alt="week" style="width:100%">
        <div class="container-one">
            <p><b>Choose the week you wish to plan for!</b></p>
        </div>
    </div>

    <div class="polaroid" id="centerRight">
        <img src="../lib/schedule.png" alt="schedule" style="width:100%">
        <div class="container-one">
            <p><b>What am i going To Do today?</b></p>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


</div>


<div class="text-left">
    <h4 class="display-4" id="shadowText">About us..</h4>
    <br />

    <div class="polaroid" id="leftBox">
        <img src="../lib/anton.png" alt="create" style="width:100%">
        <div class="container-one">
            <p><b>Anton Sjöstrand</b></p>
        </div>
    </div>

    <div class="polaroid" id="centerBox">
        <img src="../lib/andre.png" alt="edit" style="width:100%">
        <div class="container-one">
            <p><b>André Sandin</b></p>
        </div>
    </div>

    <div class="polaroid" id="centerBox">
        <img src="../lib/hashim.png" alt="edit" style="width:100%">
        <div class="container-one">
            <p><b>Hashim Veseli</b></p>
        </div>
    </div>



    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


</div>

<br />
<br />
<br />
<br />
