@page
@model PrivacyModel
@{
    ViewData["Title"] = "About us";
}
<h2 id="shadowText" style="text-align: center; font-size: 50px;">@ViewData["Title"]</h2>


<body>
    <div class="about2">
        <div class="about">
            <h2 style="text-align: center;">Anton Sjöstrand</h2>
            <p style="text-align: center;">CO-FOUNDER</p>
            <p>Anton was born in 1992.</p>
            <p>Anton is the big brains behind this project providing the backend and the skeleton for the frontend. </p>
            <img src="../lib/anton.png" alt="create" style="width:100%">
        </div>

        <div class="about">
            <h2 style="text-align: center;">Hashim Veseli</h2>
            <p style="text-align: center;">CO-FOUNDER</p>
            <p>Hashim was born in 1996.</p>
            <p>Hashim has been working mostly with the frontend and the one that has put most of the design in to place.</p>
            <img src="../lib/hashim.png" alt="edit" style="width:100%">


        </div>
        <div class="about">
            <h2 style="text-align: center;">André Sandin</h2>
            <p style="text-align: center;">CO-FOUNDER</p>
            <p>André was born in 1993.</p>
            <p>André has been working mostly with the frontend and the one that has put most of the design in to place.</p>
            <img src="../lib/andre.png" alt="edit" style="width:100%">

        </div>

       
    </div>

    <br />
    <br />
    <br />
    <br />


</body>